#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_install:
	mkdir -p debian/prometheus/usr/bin/
	mkdir -p debian/prometheus/etc/prometheus
	cp prometheus debian/prometheus/usr/bin/
	cp debian/source/etc/prometheus.conf debian/prometheus/etc/prometheus
	cp debian/source/etc/prometheus.rules debian/prometheus/etc/prometheus

override_dh_clean:
	dh_clean
	rm -rf .build/cache/*.tar.gz
